@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  /* --font-display: "Satoshi", "sans-serif";
  --breakpoint-3xl: 120rem; */
  --font-primary: "Raleway", "sans-serif";
  --font-secondary: "Oswald", "sans-serif";

  --color-light-primary: #FFFFFF;
  --color-light-secondary: #FFF9F4;
  --color-light-accent: #FFDC26;
  --color-light-text: #111111;


  /* FOR DARK THEME */
  --color-dark-primary: #030014;
  --color-dark-secondary: #12023B;
  --color-dark-accent: #FFDC26;
  --color-dark-text: #ffffff;

  /* ... */
}




a.focus{
  /* primary-color for bg */
  color:#000000; 
  /* secondary */
  color:#f8f8f8;
  color:#eeeeee;
  /* accent: button links  */
  color: #dd3333;

  /* paragraph  */
  color: #444444;

}















/* dark light mode code ends over here */

a.active{
    border-bottom: 2px solid #ffdc26;
    padding-bottom: 5px;
}











.swiper-button-next,
.swiper-button-prev {
    background-color: white;
    right:10px;
    padding: 30px;
    color: #ffdc26 !important;
    fill: black !important;
    stroke: black !important;
    border-radius: 50%;
    font-size: 30px !important;
}



/* Mobile (<640px): hide arrows */
@media (max-width: 639px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}



.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 30px !important;
  font-weight: bold;
  
}




.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #ffdc26;
  color: white !important;
  transition: .3s;
  transform: scale(1.15); /* slight zoom on hover */
}


/* Adjust for mobile */
@media (max-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    padding: 15px;
    font-size: 20px !important;
  }
}


/* Adjust for very small screens */
@media (max-width: 480px) {
  .swiper-button-next,
  .swiper-button-prev {
    padding: 10px;
    font-size: 18px !important;
  }
}


/* Mobile screens */
@media (max-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    padding: 15px;
  }
  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 20px !important;
  }
}


/* Very small devices */
@media (max-width: 480px) {
  .swiper-button-next,
  .swiper-button-prev {
    padding: 10px;
  }
  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 15px !important;
  }
}






/* font */
.playfair-display{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}




/* sweet alert custom background color */
.gradient-bg{
  
  background: linear-gradient(to bottom right,  #03012a,  #090979) !important;
  font-size: 20px;
}
.error-gradient-bg{
  
  background: linear-gradient(to bottom right,  #040017,#100136 ) !important;
  font-size: 20px;
}


.premium-bg{
  background: linear-gradient(to bottom right,  #C02425, #F0CB35) !important;
  font-size: 20px;
}
.make-bg{
  background: linear-gradient(to bottom right,  #AA076B, #61045F) !important;
  font-size: 20px;
}





